{% extends 'master.html' %}

{% block title %}
Currency Converter
{% endblock %}

{% block content %}
<div class="header">
    <h1>Currency Converter</h1>
</div>
<div class="form-and-results">
    <form method="post">
        {% csrf_token %}
    
        {{ form.amount.label }}
        {{ form.amount }}
        
        {{ form.currencies.label }}
        <div class="checkbox-multiple-columns">
            {% for checkbox in form.currencies %}
                <div>{{ checkbox }}</div>
            {% endfor %}
        </div>
        <button type="submit">Convert</button>
    </form>
    
    {% if results %}
    <div class="result">
        <h2>Converted Amounts:</h2>
        <h3> {{ results | safe }}</h3>
    </div>
   
{% endif %}
</div>



{% endblock %}
